@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin textClamp($value: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $value;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin maxWidth($breakpoint) {
  @media screen and(max-width: $breakpoint) {
    @content;
  }
}

@mixin minWidth($breakpoint) {
  @media screen and(min-width: $breakpoint) {
    @content;
  }
}

:root {
  --tilte-color: #242f51;
  --text-color: #616368;
  --button-color: #2500f9;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.active {
  background-color: var(--button-color) !important;
  color: white !important;
  border-radius: 3rem;
}

.size-icon {
  @include size(9rem);
  flex-shrink: 0;
  object-fit: cover;
}

.title--red {
  color: #f55767;
  font-size: 2rem;
  font-weight: 600;
}
.title--blue {
  color: #2563ff;
  font-size: 2rem;
  font-weight: 600;
}
.title--green {
  color: #40975f;
  font-size: 2rem;
  font-weight: 600;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  background-color: #fdfdfe;
  padding-top: 9.5rem;

  &-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.8rem;

    &__menu {
      display: flex;
      align-items: stretch;
    }

    &__item {
      border-radius: 3rem;
      background-color: #fdfdfe;
      &:last-child {
        margin-left: 3.8rem;
        & > .header-top__link {
          padding: 1.8rem 4rem;
        }
      }

      &:hover {
        background-color: var(--button-color);
        transition: all 0.25s linear;
        & > * {
          color: white;
          transition: all 0.25s linear;
        }
      }
    }

    &__link {
      display: block;
      padding: 1.8rem 1.7rem;
      font-size: 1.6rem;
      color: var(--tilte-color);
    }
  }

  &-logo__link {
    font-size: 3rem;
    font-weight: bold;
    color: #fcbd7e;
    span:last-child {
      color: var(--tilte-color);
    }
  }

  &-content {
    position: relative;
    &__bg {
      max-height: 83.5rem;
      width: 100%;
      object-fit: cover;
    }
  }

  &-box {
    max-width: 53rem;
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-50%);

    &__top {
      display: inline-block;
      display: flex;
      align-items: center;
      background-color: #e2eaed;
      font-size: 1.8rem;
      border-radius: 2rem;
      max-width: 36rem;
    }

    &__icon {
      background-color: white;
      color: #feaa25;
      border-radius: 50%;
      font-size: 3.5rem;
    }

    &__text {
      color: var(--tilte-color);
      margin-left: 1rem;
    }

    &__title {
      font-weight: 600;
      font-size: 6rem;
      color: var(--tilte-color);
      line-height: 1.2;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &__desc {
      font-size: 1.8rem;
      color: var(--text-color);
      line-height: 1.4;
      margin-bottom: 4rem;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__button {
      display: flex;
      align-items: stretch;
    }
    &__submit {
      border: none;
      font-size: 1.6rem;
      background-color: #ccc;
      padding: 2rem 4rem;
      color: black;
      border-radius: 3rem;
      cursor: pointer;
      &:hover {
        background-color: var(--button-color);
        color: white;
        transition: all 0.25s linear;
      }
    }
  }

  @media screen and (max-width: 1279px) {
    &-box {
      max-width: 45rem;
      left: 14%;

      &__title {
        font-size: 5rem;
        margin-bottom: 2rem;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    padding-top: 4.5rem;
    &-top__menu {
      display: none;
    }
    &-box {
      max-width: 35rem;
      left: 5%;

      &__icon {
        font-size: 2.5rem;
      }

      &__text {
        font-size: 1.4rem;
      }

      &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      &__desc {
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }

      &__button {
        flex-direction: column;
      }

      &__submit {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &-content {
      position: unset;
    }

    &-content__bg {
      img {
        display: none;
      }
    }

    &-box {
      position: unset;
      transform: none;
      text-align: center;
      width: auto;
      margin: 0 auto;

      &__top {
        max-width: 27rem;
        margin: 0 auto;
      }
    }
  }
}

.brand {
  padding-top: 11rem;
  &-text {
    font-size: 1.6rem;
    color: var(--tilte-color);
    text-align: center;
  }

  &-img {
    max-width: 93rem;
    margin: 3rem auto 0;
  }

  @include maxWidth(767px) {
    padding-top: 7rem;
  }
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3rem;
  padding-top: 16rem;

  &-img,
  &-content {
    width: 50%;
    margin-left: 3rem;
  }

  &-img {
    max-width: 61rem;
  }

  &-content {
    max-width: 43rem;
    padding-right: 25rem;
  }

  &-title {
    font-size: 3.6rem;
    color: var(--tilte-color);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  &-desc {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 9rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 6rem;
    }

    &__icon {
      @include size(9rem);
      object-fit: cover;
      flex-shrink: 0;
    }

    &__content {
      margin-left: 3.5rem;
    }

    &__title {
      margin-bottom: 1.5rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;

      @include textClamp(3);
    }
  }

  @include maxWidth(1279px) {
    &-content {
      padding-right: 4rem;
    }
  }

  @include maxWidth(1023px) {
    display: block;
    margin-left: 0;
    padding-top: 10rem;

    &-img {
      display: none;
    }

    &-content {
      max-width: none;
      width: auto;
    }

    &-title {
      text-align: center;
    }

    &-desc {
      margin-bottom: 5rem;
    }
  }

  @include maxWidth(767px) {
    padding-top: 7rem;

    &-content {
      padding-right: 1.5rem;
      margin-left: 1.5rem;
    }

    &-title {
      font-size: 3rem;
    }

    &-desc {
      font-size: 1.4rem;
      margin-bottom: 3rem;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &__icon {
        @include size(7rem);
      }

      &__content {
        margin-left: 2.5rem;
      }

      &__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      &__desc {
        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
  }
}

.jackpot {
  padding-top: 10rem;
  &-top {
    display: flex;
    align-items: center;
    margin: 0 3rem 0;

    &__title {
      font-size: 4rem;
      font-weight: 600;
      color: var(--tilte-color);
      line-height: 1.2;

      max-width: 45rem;
      padding-right: 5rem;
      border-right: 1px solid #b9b9b8;
      margin-right: 4.8rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      max-width: 45rem;
      p {
        @include textClamp(3);
      }
    }
  }

  &-bottom {
    margin: 0 3rem 0;
    margin-top: 11.5rem;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    width: calc(33.33% - 5rem);

    &__title {
      margin-top: 3.5rem;
      margin-bottom: 2rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      @include textClamp(3);
    }
  }

  @include maxWidth(1023px) {
    &-top {
      display: block;

      &__title {
        text-align: center;

        max-width: none;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;

        padding-bottom: 2.5rem;
        border-bottom: 1px solid #b9b9b8;
        margin-bottom: 3rem;
      }

      &__desc {
        max-width: none;
        p {
          text-align: center;
        }
      }
    }

    &-bottom {
      margin-top: 5rem;
      display: block;
    }

    &-item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      &__icon {
        margin: 0 auto;
        @include size(7rem);
      }

      &__content {
        text-align: center;
      }
    }
  }

  @include maxWidth(767px) {
    padding-top: 7rem;

    &-top {
      margin: 0;
      margin-bottom: 3rem;

      &__title {
        font-size: 3rem;
      }

      &__desc {
        font-size: 1.4rem;
      }
    }

    &-bottom {
      margin: 0;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &__title {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }

      &__desc {
        font-size: 1.4rem;
      }
    }
  }
}

.designed {
  padding: 13.5rem 15.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-img,
  &-content {
    width: calc(50% - 11rem);
  }

  &-img {
    img {
      @include size(60rem, 100%);
    }
  }

  &-content {
    &__title {
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 1.2;
      color: var(--tilte-color);
      max-width: 40rem;
      margin-bottom: 2.5rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      @include textClamp(3);
    }

    &__button {
      padding: 2rem 4rem;
      font-size: 1.6rem;
      font-weight: bold;
      border: none;
      margin-top: 4rem;
      cursor: pointer;
    }
  }

  @include maxWidth(1439px) {
    padding: 13.5rem 4.5rem 0;
  }

  @include maxWidth(1279px) {
    &-img {
      img {
        width: 50rem;
      }
    }
  }

  @include maxWidth(1023px) {
    display: block;
    padding: 10rem 3.5rem 0;

    &-img {
      display: none;
    }

    &-content {
      width: 100%;
      text-align: center;

      &__title {
        max-width: none;
      }
    }
  }

  @include maxWidth(767px) {
    padding: 7rem 1.5rem 0;

    &-content {
      &__title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      &__desc {
        font-size: 1.4rem;
      }

      &__button {
        margin-top: 2rem;
      }
    }
  }
}

.app {
  padding-top: 20rem;

  &-header {
    text-align: center;
    max-width: 63rem;
    margin: 0 auto;
    margin-bottom: 9.5rem;

    &__title {
      font-size: 3.6rem;
      font-weight: bold;
      color: var(--tilte-color);
      line-height: 1.2;
      max-width: 50rem;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      @include textClamp(2);
    }
  }

  &-content {
    padding: 0 10rem;
  }

  &-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  &-item {
    width: calc(33.33% - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      text-align: center;
    }

    &__icon {
      margin-bottom: 3.5rem;
    }

    &__title {
      font-size: 2rem;
      font-weight: 600;
      color: var(--tilte-color);
      margin-bottom: 1rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      @include textClamp(3);
    }
  }

  @include maxWidth(1023px) {
    padding-top: 10rem;

    &-header {
      margin-bottom: 5rem;
    }

    &-content {
      padding: 0;
      margin: 0 2.5rem 0 1.5rem;
    }

    &-list {
      display: block;

      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    &-item {
      width: 100%;
      flex-direction: row;
      &:not(:last-child) {
        margin-bottom: 6rem;
      }

      &__icon {
        margin-bottom: 0;
      }

      &__content {
        text-align: unset;
        margin-left: 3.5rem;
      }

      &__title {
        margin-bottom: 1.5rem;
      }
    }
  }

  @include maxWidth(767px) {
    padding-top: 7rem;

    &-header {
      margin-bottom: 3rem;
      &__title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      &__desc {
        font-size: 1.4rem;
      }
    }

    &-content {
      margin: 0;
    }

    &-list {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
      &__icon {
        @include size(7rem);
      }

      &__content {
        margin-left: 2.5rem;
      }

      &__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      &__desc {
        font-size: 1.4rem;
      }
    }
  }
}

.ultimate {
  padding-top: 19rem;
  display: flex;
  align-items: center;

  &-container,
  &-img {
    width: 50%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-header {
    max-width: 40rem;
    margin-bottom: 6rem;
    &__title {
      font-size: 3.6rem;
      font-weight: 600;
      color: var(--tilte-color);
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      @include textClamp(2);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24rem 24rem;
    grid-gap: 5.5rem 10rem;
    margin-bottom: 5rem;
  }

  &-item {
    &__icon {
      margin-bottom: 3.5rem;
    }

    &__title {
      font-size: 2rem;
      font-weight: 600;
      color: var(--tilte-color);
      margin-bottom: 1.5rem;
    }

    &__desc {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 1.6;
      @include textClamp(3);
    }
  }

  &-button {
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    padding: 2rem 6rem;
    cursor: pointer;
  }

  @include minWidth(1500px) {
    padding-left: 22rem;
  }

  @include maxWidth(1499px) {
    padding-left: 17rem;
  }
  @include maxWidth(1439px) {
    padding-left: 9rem;
  }
  @include maxWidth(1279px) {
    padding-left: 5rem;
  }
  @include maxWidth(1023px) {
    display: block;
    padding: 10rem 4rem 0 4rem;
    &-img {
      display: none;
    }

    &-container {
      width: 100%;
    }

    &-header {
      max-width: none;
      text-align: center;
    }

    &-list {
      grid-gap: 3.5rem 6rem;
    }
  }

  @include maxWidth(767px) {
    padding: 7rem 1.5rem 0 1.5rem;

    &-header__title {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }
}
