html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}
.container {
  width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  background-color: #fdfdfe;
  padding-top: 9.5rem;
  &-top {
    display: flex;
    justify-content: space-between;
    &__link {
      font-size: 3rem;
    }
  }
  &-content {
    &__bg {
      height: 83.5rem;
      width: 100%;
      object-fit: cover;
    }
  }
}
