:root {
  --tilte-color: #242f51;
  --text-color: #616368;
  --button-color: #2500f9;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  background-color: #fdfdfe;
  padding-top: 9.5rem;

  &-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.8rem;

    &__menu {
      display: flex;
      align-items: stretch;
    }

    &__item {
      border-radius: 3rem;
      background-color: #fdfdfe;
      &:last-child {
        margin-left: 3.8rem;
        & > .header-top__link {
          padding: 1.8rem 4rem;
        }
      }

      &:hover {
        background-color: var(--button-color);
        transition: all 0.25s linear;
        & > * {
          color: white;
          transition: all 0.25s linear;
        }
      }
    }

    &__link {
      display: block;
      padding: 1.8rem 1.7rem;
      font-size: 1.6rem;
      color: var(--tilte-color);
    }
  }

  &-logo__link {
    font-size: 3rem;
    font-weight: bold;
    color: #fcbd7e;
    span:last-child {
      color: var(--tilte-color);
    }
  }

  &-content {
    position: relative;
    &__bg {
      height: 83.5rem;
      width: 100%;
      object-fit: cover;
    }
  }

  &-box {
    max-width: 53rem;
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translateY(-50%);

    &__top {
      display: inline-block;
      background-color: #e2eaed;
      font-size: 1.8rem;
      border-radius: 1rem;
    }

    &__icon {
      background-color: white;
      color: #feaa25;
      border-radius: 50%;
    }

    &__text {
      color: var(--tilte-color);
      margin: 0 5rem 0 0.5rem;
    }

    &__title {
      font-weight: 600;
      font-size: 6rem;
      color: var(--tilte-color);
      line-height: 1.2;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &__desc {
      font-size: 1.8rem;
      color: var(--text-color);
      line-height: 1.4;
      margin-bottom: 4rem;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__button {
      display: flex;
      align-items: stretch;
    }
    &__submit {
      border: none;
      font-size: 1.6rem;
      background-color: #ccc;
      padding: 2rem 4rem;
      color: black;
      border-radius: 3rem;
      cursor: pointer;
      &:hover {
        background-color: var(--button-color);
        color: white;
        transition: all 0.25s linear;
      }
    }
  }
}
